<div class="background-container">
    <div class="nav">
        <div class="container navbar">
            <a class="nav-heading">Azure Cosmos DB AI samples</a>
            <div class="nav-toggle" (click)="toggleNav()"><i class="fa-solid fa-bars fa-2xl"
                    style="color: #ffffff;"></i></div>
            <ul class="nav-links" [class.open]="isNavOpen">
                <li class=""><a href="#contact" (click)="closeNav()">CONTACT US</a></li>
            </ul>
            <ul class="horizontal-nav">
            </ul>
        </div>
    </div>


    <div class="" id="works"><app-projects></app-projects></div>
